<div class="admin-form">
  <h2>Armor Details</h2>
  <div class="armor-details-container">
    <div class='image-box'></div>
    <div class="armor-details-content">
      <div class="details-line">
        <span class="label">Name: </span>
        <span class="armor-header">{{ armor?.armorName }}</span>
      </div>
      <div class="details-line">
        <span class="label">Type: </span>
        <span class="armor-type">{{ armor?.armorType }}</span>
      </div>

      <div class="details-line">
        <span class="label">Level: </span>
        <span class="armor-level">{{ armor?.armorLevel }}</span>
      </div>
      <div class="details-line">
        <span class="label">Health: </span>
        <span class="armor-stats-group">{{ armor?.armorStatsGroup.health }}</span>
      </div>
      <div class="details-line">
        <span class="label">Power: </span>
        <span class="armor-stats-group">{{ armor?.armorStatsGroup.power }}</span>
      </div>
      <div class="details-line">
        <span class="label">Defense: </span>
        <span class="armor-stats-group">{{ armor?.armorStatsGroup.defense }}</span>
      </div>
    </div>
    </div>
  <div class="armor-details-actions" *ngIf="armor">
        <a [routerLink]="['/editArmor', armor.id]">EDIT</a>
        <a [routerLink]="['/deteteArmor', armor.id]">DELETE</a>
  </div> 
  </div>
